@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-manrope: "Manrope";
  --color-dark: #0d2d42;
  --color-gray: #626d77;
  --color-light-gray: #f8f9f9;
  --color-accent: #0190c3;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-dark font-manrope leading-[100%] tracking-[-2%] overflow-x-hidden;
  }

  button {
    @apply cursor-pointer;
  }

  h1 {
    @apply tracking-[-2%] md:tracking-[-4%];
  }
}
